<% include ../../partials/detailHeader %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2"><strong>Activity</strong></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <strong>Activity</strong>
            <p>From <%= moment(sevenDaysBefore).format('DD/MM/YYY') %> TO <%= moment(today).format('DD/MM/YYYY') %> </p>
            <% for (var key in data) { %>
            <strong><%= data[key].data == moment(today).format('YYYY/MM/DD') ? 'Today' : key %></strong>
            <ul>
                <% data[key].data.forEach((item) => { %>
                <li><%= `${moment(item.time).format('HH:mm')} ${item.title} #${item.issuesid} (${item.status}) : ${item.description}, Author: ${item.fullname}` %>
                </li>
                <% }) %>
            </ul>
            <% } %>
        </div>
    </div>
    <br>
    </div>
</main>
<% include ../../partials/detailFooter %>